*{
    margin: 0;
    border: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section{
    width: 100%;
    height: 350px;
    background-color: #2D2D44;
    display: flex;
}

.Texto_Home{
    color: #ffffff;
    text-align: center;
    width: 60%;
    height: 350px;
    align-items: center;
    margin: auto;
    margin-top: 50px;   
}

.Image_Invest{
    width: 40%;
    height: 250px;

}

.Image_Home{
    width: 90%;
    height: 75%;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px; 
    margin-right: 75px;
}

.Section2{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #7E65AA;
}

.Texto2 h1 {
    color: #7E65AA;
    

}

.Parte1{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
}

.Parte1 h3{
    display: flex;
}

.Imagemdamoca{
   width: 40%;
   height: 200px;

}

.Imagemoca{
    width: 30%;
    align-items: left;
    padding: 25px;
    display: flex;
}

h3{
    color: #7E65AA;
}

.Parte2{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
}