*{
    margin: 0;
    border: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section{
    width: 100%;
    height: 350px;
    background-color: #2D2D44;
    display: flex;
}

.Texto_Home{
    color: #ffffff;
    text-align: center;
    width: 60%;
    height: 350px;
    align-items: center;
    margin: auto;
    margin-top: 50px;   
}

.Image_Invest{
    width: 40%;
    height: 350px;

}

.Image_Home{
    width: 90%;
    height: 75%;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px; 
    margin-right: 75px;
}

.Section2{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    color: #7E65AA;
    display: flex;
}

.Texto2 h1 {
    color: #7E65AA;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 45px;
}

.Parte1{
    width: 50%;
    height: auto;
    align-items: center;
}

.Parte1 h3{
    align-items: center;
    display: flex;
    color: #7E65AA;
    margin-bottom: 25px;
    padding: 75px;
}

.Parte1 img{
    width: 70%;
    width: 70%;
    margin-left: 50px;
    margin-top: 10px;
}

.Parte2{
    width: 45%;
    height: 450px;
    align-items: center;
}

.Texto3{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 75px;

}

.Linha{
    width: fit-content;
    height: 275px;
}

.Imagemocofeliz{
    margin-bottom: 25px;
}

.Imagemocofeliz img{ 
    width: 70%; 
}